# /**
#  * GLX: Connect the World - Civic Networking Platform
#  * 
#  * Copyright (c) 2025 rsl37
#  * Dual-licensed under PolyForm Shield 1.0.0 OR PolyForm Noncommercial 1.0.0
#  * 
#  * ⚠️  TERMS:
#  * - Commercial use strictly prohibited without written permission from copyright holder
#  * - Forking/derivative works prohibited without written permission
#  * - Violations subject to legal action and damages
#  * 
#  * See LICENSE file in repository root for full terms.
#  * Contact: roselleroberts@pm.me for licensing inquiries
#  */

version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    volumes:
      - .:/usr/src/app
    networks:
      - priority-matrix-network

networks:
  priority-matrix-network:
    driver: bridge
